/* .encryptMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: var(--text);
    z-index: 3;
    font-family: 'Amatic SC', sans-serif;
}

.encryptMain form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1.5em;
    color: var(--text);
    border: 1px solid var(--primary);
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.06);
    border-radius: 0.7em;
    z-index: 3;
}

.encryptMain form input,
.encryptMain form textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.06);
    color: var(--text);
    outline: none;
    border-radius: 0.2em;
}

.encryptMain form input:hover,
.encryptMain form textarea:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.encryptMain form input:focus,
.encryptMain form textarea:focus {
    border: 1px solid var(--primary);
}

.encryptMain  button {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    background-color: var(--primary);
    color: var(--background);
    border: 1px solid var(--primary);
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.2em;
    opacity: 0.8;
}


.encryptMain  button:hover {
    background-color: var(--background);
    color: var(--primary);
    transition: 0.3s;
    opacity: 1;
}

.encryptMain form a {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
}




.encryptMain .resultArea {
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid var(--primary);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.06);
    color: var(--text);
    outline: none;
    text-align: left;
    overflow: auto;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.encryptMain .resultArea p{
    padding: 0.5em;
} */